version: '3.8'

services:
  chroma:
    image: chroma:0.5.3
    build: .
    container_name: chroma
    ports:
      - "8000:8000"
    volumes:
      - .:/data
    networks:
      - db-network
    restart:
        unless-stopped


  rag-system:
    build: .
    container_name: rag-system
    ports:
      - "8001:8001"
    volumes:
      - .:/data
    networks:
      - app-network
      - db-network
    depends_on:
      - chroma
    env_file:
      - .env

networks:
    app-network:
        driver: bridge
    db-network:
        driver: bridge