version: '3.8'

services:
  chroma:
    image: chromadb/chroma:0.5.3 # Nome corretto dell'immagine
    container_name: chroma
    expose:
      - "8000"
    volumes:
      - ./data/vector_db:/chroma/chroma # Path interno corretto per Chroma
    networks:
      - db-network
    environment:
      - IS_PERSISTENT=TRUE
    restart: unless-stopped

  rag-system:
    build:
      context: ./app # Assicurati che il Dockerfile sia dentro la cartella /app
      dockerfile: Dockerfile
    container_name: rag-system
    expose:
        - "8001"
    volumes:
      - ./data/raw:/app/data/raw # Mappa i tuoi documenti
    networks:
      - app-network
      - db-network
    depends_on:
      - chroma
    env_file:
      - .env

networks:
  app-network:
    driver: bridge
  db-network:
    driver: bridge